.blog {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    padding: 2rem 0;
    overflow-y: auto;
}

.posts-container {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-top: 2vh;
    padding: 2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: visible;
}

.blog-post {
    min-width: 100%;
    padding: 2rem;
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: left;
}

.post-title {
    font-size: 2rem;
    color: #fff;
}

.post-date {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 1rem;
}

.post-description {
    font-size: 1.2rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.post-image {
    width: 300px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.post-link {
    font-size: 1rem;
    color: #17a2b8;
    text-decoration: none;
}