.blog {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    padding: 2rem 0;
    overflow-y: auto;
}

.blog-container {
    max-width: min(80%, 1200px);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.blog-post-card {
    min-width: 100%;
    padding: 2rem;
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 25px;
    text-align: left;
    border: 2px solid #222222;
}

.post-title {
    font-size: 2.25rem;
    color: rgb(240, 240, 240);
}

.post-description {
    font-size: 1.5rem;
    color: #ddd;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.post-link-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-link-btn {
    border: 2px solid rgb(23, 162, 184);
    padding: 0.5rem 1rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 550;
    margin-right:15px;
    color: #17a2b8;
    transition: all 0.2s ease;
}

.post-link-btn:hover {
    background-color: rgb(23, 162, 184, 0.2);
}

.post-link-btn:active {
    transform: scale(0.95);
}

.post-date {
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    font-size: 1rem;
    color: #bbb;
}

@media (max-width: 768px) {
    .blog-container {
        margin-bottom: 12.5vh;
    }

    .post-title {
        font-size: 2rem;
    }

    .post-description {
        font-size: 1.25rem;
    }

    .post-link-date {
        margin-top: 3vh;
    }

    .post-date {
        font-size: 1rem;
    }
}