.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}



.logo, .social-links {
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;  /* Equal width as the right column */
    text-decoration: none;
}

.logo img, .logo .site-name {
    height: 35px;  /* Adjusts the logo and text size */
}

.site-name {
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
}



.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    color: rgb(200, 200, 200);
}

.menu-icon div {
    background-color: rgb(200, 200, 200);
    height: 3px;
    width: 100%;
    transition: all 0.2s linear;
}

.menu-icon.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open div:nth-child(2) {
    opacity: 0;
}

.menu-icon.open div:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}



.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: grey;
}

.nav-links li a.active {
    font-weight: bold;
}



.social-links {
    flex: 1;  /* Equal width as the left column */
    justify-content: flex-end;  /* Aligns logos to the right */
}

.social-links a img {
    height: 30px;
    margin: 0 10px;
}



@media (max-width: 768px) {
    .navbar {
        flex-wrap: flex;
    }

    .logo, .menu-icon {
        flex-basis: 100%; /* Ensure both take full width of the navbar */
        justify-content: space-between; /* Aligns logo on the left and icon on the right */
        display: flex;
        width: 100%;
        padding: 10px 20px; /* Add padding for better touch targets */
    }

    .menu-icon {
        display: block;
        width: 20%;
        margin-left: auto;
    }

    .nav-links {
        flex-basis: 100%;
        flex-direction: column;
        width: 100%;
        display: none;
        padding: 0;
    }

    .nav-links li {
        display: flex;
        justify-content: space-between; /* Space between link text and caret */
        align-items: center;
        padding: 10px 20px; /* Padding for each link */
    }

    .nav-links li a {
        flex: 1; /* Allows link to fill the space */
    }

    .nav-links li::after {
        content: '>'; /* Right caret */
        padding-right: 20px;
    }

    .nav-links li:hover {
        background-color: #ccc; /* Highlight color on hover */
    }

    .nav-links.open {
        display: flex;
    }

    .social-links {
        flex-basis: 100%;
        display: none;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #ccc; /* Thin horizontal line above social links */
        padding: 10px 20px;
    }

    .social-links.open {
        display: flex;
    }
}