.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: white;
    z-index: 1000;
}

.logo, .social-links {
    display: flex;
    align-items: center;
}

.logo {
    flex: 1;  /* Equal width as the right column */
    text-decoration: none;
}

.logo img, .logo .site-name {
    height: 35px;  /* Adjusts the logo and text size */
}

.site-name {
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex: 2;  /* Allows center to grow more */
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: grey;
}

.nav-links .active {
    font-weight: bold;
}

.social-links {
    flex: 1;  /* Equal width as the left column */
    justify-content: flex-end;  /* Aligns logos to the right */
}

.social-links a img {
    height: 30px;
    margin: 0 10px;
}
