.projects {
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    padding: 2rem 0;
    overflow-y: auto;
}

.project-cards-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.project-card {
    min-width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    padding: 1vw;
    padding-inline: 10px;
}

.project-image {
    flex: 1;
    max-width: 50%;
}

.project-image img,
.project-image iframe {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.project-details {
    flex: 1;
    padding: 1rem;
    color: #fff;
    text-align: left;
}

.project-link {
    text-decoration: none;
}

.project-title {
    font-size: 2rem;
    color: #17a2b8;
}

.project-status {
    font-weight: bold;
    margin: 1rem 0;
}

.project-description {
    font-size: 1rem;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}
  