.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  position: relative;
}

/* .circle {
  background-color: white;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  cursor: pointer;
}

.circle.expanded {
  width: 20vh;
  height: 20vh;
}

.circle.expanded::before,
.circle.expanded::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s ease 0.1s;
}

.circle.expanded::before {
  top: -25%;
  left: -25%;
  right: -25%;
  bottom: -25%;
  border: 2px solid white;
}

.circle.expanded::after {
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  border: 2px solid white;
} */
